<div>
  <ul class="mt-3">
    <% @rooms.each do |room| %>
      <li class="mb-1 col-4"><%= link_to "ROOM#{room.id}", room_path(room), class: "button is-primary" %></li>
    <% end %>
    <li class="col-4"><%= link_to '+ NEW ROOM', new_room_path, class: "button is-success" %></li>
  </ul>
  
</div>
